{% from 'structure/structure.jinja' import techtalk_detail %}
{{ techtalk_detail(talk, recent_talks, video_url, embed_url, is_authenticated, video_mime_type, "--white_grey", "text-gray-700", "text-black", "--white_grey", "h-[38rem]", "lg:w-4/5", "bg-white", "bg-white") }}
