{# This is a component for return of HTMX #}
{% from 'structure/structure.jinja' import talk_item %}
<div class="justify-center flex">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mt-6 w-full {% if not request.user.is_authenticated %}max-w-7xl{% endif %}">
        {% for talk in all_techtalks %}
            {% if request.user.is_authenticated %}
                {{ talk_item(talk, "--white_grey", request.user.role_is_admin()) }}
            {% else %}
                {{ talk_item(talk) }}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% if not all_techtalks %}
    <p class="{% if request.user.is_authenticated %}text-black{% else %}text-white{% endif %} text-center">No tech talks found.</p>
{% endif %}
