{# This is a compont for return of HTMX #}
{# On small screens we only show the first two columns and actions #}
{% from 'structure/structure.jinja' import delete_confirm_modal %}
<div>
    <table>
        <thead>
            <tr class="grid grid-cols-3 lg:grid-cols-6 gap-0">
                <th class="px-4 py-2 text-left bg-[--blue_di4d] text-white border border-black">Username</th>
                <th class="px-4 py-2 text-left bg-[--blue_di4d] text-white border border-black">Firstname</th>
                <th class="px-4 py-2 text-left bg-[--blue_di4d] text-white border border-black hidden lg:table-cell">Lastname</th>
                <th class="px-4 py-2 text-left bg-[--blue_di4d] text-white border border-black hidden lg:table-cell">Email</th>
                <th class="px-4 py-2 text-left bg-[--blue_di4d] text-white border border-black hidden lg:table-cell">Type</th>
                <th class="px-4 py-2 text-left bg-[--blue_di4d] text-white border border-black">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="grid grid-cols-3 lg:grid-cols-6 gap-0 hover:bg-red-500">
                <td class="px-4 py-2 text-left bg-white text-black border border-black">{{user.username}}</td>
                <td class="px-4 py-2 text-left bg-white text-black border border-black">{{user.firstname}}</td>
                <td class="px-4 py-2 text-left bg-white text-black border border-black hidden lg:table-cell">{{user.lastname}}</td>
                <td class="px-4 py-2 text-left bg-white text-black border border-black hidden lg:table-cell">{{user.email}}</td>
                <td class="px-4 py-2 text-left bg-white text-black border border-black hidden lg:table-cell">{{user.userTypeId.name}}</td>
                <td class="px-4 py-2 text-left bg-white text-black border border-black">
                    {% if request.user.id != user.id %}
                        <div class="flex flex-row gap-4 justify-center">
                            <button @click ="currentEditId = {{ user.id }}, open_edit_user = true, username = '{{ user.username }}', firstname = '{{ user.firstname }}', lastname = '{{ user.lastname }}',
                                            email = '{{ user.email }}', usertype = '{{ user.userTypeId.id }}', isalumni = {{ 'true' if user.isAlumni else 'false' }}, partner = '{{ user.partnerId.id if user.partnerId else '' }}'">
                                <i class="fa-solid fa-pen text-[--green]"></i>
                            </button>
                            <button @click="currentDeleteId = {{ user.id }}, currentDeleteName = '{{ user.username }}'">
                                <i class="fa-solid fa-trash text-[--red]"></i>
                            </button>
                        </div>
                    {% else %}
                        <p>This is you</p>
                    {% endif %}
                </td>
            </tr>
            {% else %}
                <tr class="pt-16">
                    <td colspan="6" class="text-center">No users found</td>
                </tr>
                <tr class="flex justify-center mt-4">
                    <td colspan="6"><a href="{{ url('users') }}" class="btn_primary_orange">Go back to all users</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>