{% extends "structure/structure_private.jinja"%}
{% block title %}Dashboard - DI4D Portal{% endblock %}

{% block content %}
<div class="bg-white flex flex-col">
    <div>
        <h1 class="text-3xl lg:text-4xl font-bold text-black">Export Data</h1>
        <p class="pb-4">You can export the data by clicking on the button and then you can use the data in a tool like Power BI.</p>
    </div>
    <div>
        <h2 class="text-2xl underline">1. Download list of all users</h2>
        <p>You get all users that are inactive and active, with their details.</p>
        <div class="mt-4">
            <a href="{{ url('users_data') }}" class="btn_primary_blue">Download Users</a>
        </div>
    </div>
    <div class="mt-8">
        <h2 class="text-2xl underline">2. Download list of all learninggoals</h2>
        <p>You get all learninggoals with their objectives, learning paths, active status, and associated courses.</p>
        <div class="mt-4">
            <a href="{{ url('learninggoals_data') }}" class="btn_primary_blue">Download Learning Goals</a>
        </div>
    </div>
</div>
{% endblock %}