{% extends "structure/structure_private.jinja"%}
{% block title %}{{ item.submission_number }} - DI4D Portal{% endblock %}

{% block content %}
<div>
    <h1 class="text-3xl lg:text-4xl font-bold text-black">Registration {{ item.submission_number }}</h1>
    <div class="mt-4 max-w-3xl">
        <a href="{{ url('student_registrations') }}" class="btn_primary_blue"><i class="fa-solid fa-arrow-left"></i> Back</a>
        <div class="mt-6">
            {% for answer in answers %}
            <p class="text-lg font-bold mt-2">{{ answer.questionId.question }} :</p>
            {% if answer.questionId.datatype.name == 'Text' %}
                <p class="text-lg border p-2 rounded break-words">{{ answer.answer }}</p>
            {% elif answer.questionId.datatype.name == 'File' %}
                    {% set inline_file_url = url('student_registration_file', kwargs={'answer_id': answer.id}) + '?inline=1' %}
                    {% set download_file_url = url('student_registration_file', kwargs={'answer_id': answer.id}) %}
                    <div class="mb-4 {% if answer.file_type == 'application' %}flex gap-4 mt-4{% endif %}">
                        {% if answer.file_type == 'image' %}
                            <img src="{{ inline_file_url }}" alt="Uploaded Image" class="w-auto h-64 border p-2 rounded mb-4">
                        {% elif answer.file_type == 'video' %}
                            <video src="{{ inline_file_url }}" controls class="w-full h-auto border p-2 rounded mb-4"></video>
                        {% elif answer.file_type == 'audio' %}
                            <audio src="{{ inline_file_url }}" controls class="w-full py-2 my-4"></audio>
                        {% elif answer.file_type == 'application' %}
                            <div class="mb-4">
                                <a class="btn_primary_blue" href="{{ inline_file_url }}" target="_blank">View File</a>
                            </div>
                        {% endif%}
                        <div class="mb-4">
                            <a class="btn_primary_orange" href="{{ download_file_url }}" download>Download</a>
                        </div>
                    </div>
            {% elif answer.questionId.datatype.name == 'Multiple_Choice' %}
                <p class="text-lg border p-2 rounded break-words">
                    {% for choice in answer.parsed_answer %}
                        {{ choice }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% elif answer.questionId.datatype.name == 'Bool' %}
                <p class="text-lg border p-2 rounded break-words">{{ answer.answer }}</p>
            {% elif answer.questionId.datatype.name == 'Singular_Choice' %}
                <p class="text-lg border p-2 rounded break-words">{{ answer.answer }}</p>
            {% endif %}
        {% endfor %}
        <div class="mt-6" x-data="{{ x_data }}">
            <form class="flex gap-10 lg:gap-32" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button type="submit" name="submit" value="approve" class="btn_primary_green flex-1">Approve</button>
                <button type="submit" name="submit" value="deny" class="btn_primary_red flex-1">Deny</button>
            </form>
            {{ info_modal_redirect("info", "You have "+status+" the registration!", "Registration "+item.submission_number|string+" is succesfully "+status, "student_registrations") }}
        </div>
        </div>
    </div>
</div>
{% endblock %}