{% extends "structure/structure_private.jinja"%}
{% block title %}News - DI4D Portal{% endblock %}

{% block banner %}
<div class="h-32 w-full bg-cover bg-center border-4 border-[--blue_di4d]" style="background-image: url('{{ news_article.picture.url }}')"></div>
{% endblock %}

{% block content %}
<div class="bg-white min-h-screen w-80 md:w-full mx-auto">
    <div class="w-full mx-auto flex flex-col">
        <div>
            <h1 class="text-3xl lg:text-4xl font-bold text-black mb-4 break-words">{{ news_article.title }}</h1>
            <a href="{{ url('news') }}" class="btn_primary_orange mb-4"><i class="fa-solid fa-arrow-left"></i> Back</a>
        </div>
        <div class="mt-4 break-words news-content">
            {{ news_article.content | safe }}
        </div>
        <div class="mt-20">
            <h2 class="text-center text-2xl text-black">Read another news article</h2>
            {% if news|length == 0 %}
                <h3 class="text-center text-black text-xl lg:text-2xl mt-6">No other news articles available at the moment.</h3>
            {% else %}
                    <div class="grid grid-cols-1 gap-4 mt-6 w-full">
                        {% for article in news %}
                            {{ news_item(article, '--white_grey') }}
                        {% endfor %}
                    </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}