@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --blue_di4d: #05273B;
    --orange_di4d: #ED532A;
    --white_grey: #F5F5F5;
    --footer_blue_di4d: #031F30;
    --light_grey: #595959;
    --lightest_grey: #A6A6A6;
    --button_text_modal: #545F71;
    --red:  #A30404;
    --green: #116745;
    --input_text: #706C6C;
    --input_bg_color: #D9D9D9;
    
    --normal_text: 16px;
    --normal_bigger_text: 24px;
    --title_h1_text: 40px;
    --title_h2_text: 30px;
}

::selection{
    background-color: var(--orange_di4d);
    color: white;
}

body{
    font-family: "Noto Sans", sans-serif;
}

.news{
    font-family: "Poppins", sans-serif;
}

.btn_primary_orange{
    background-color: var(--orange_di4d);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn_primary_blue{
    background-color: var(--blue_di4d);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}