{% extends "structure/structure.jinja"%}
{% block title %}Forgot Password - DI4D Portal{% endblock %}

{% block content_structure %}
<div class="min-h-screen bg-[var(--blue_di4d)] flex flex-col items-center justify-center px-4 py-12 gap-8">
<img class="rounded-full object-cover w-50 h-50 md:w-60 md:h-60 mx-auto p-5" src="{{ static('images/DI4D.png') }}" alt="DI4D Logo">
    <h1 class="text-white text-2xl md:text-3xl font-bold text-center">Forgot Password</h1>
    <form method="post" class="w-full max-w-sm space-y-4 flex flex-col items-start">
        {{ csrf_input }}
        <label for="{{ form.email.id_for_label }}" class="text-white text-sm font-medium w-full text-left">Email</label>
        <input type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" placeholder="Email" class="w-full px-4 py-2 rounded-md border bg-white text-gray-900">
        <input class="btn_primary_orange mx-auto" type="submit" value="Send Reset Link">
    </form>
</div>
{% endblock %}