{% extends "structure/structure.jinja"%}
{% block title %}Forgot Password - DI4D Portal{% endblock %}

{% block content_structure %}
<div class="min-h-screen bg-[var(--blue_di4d)] flex flex-col items-center justify-center px-4 py-12 gap-8">
<img class="rounded-full object-cover w-50 h-50 md:w-60 md:h-60 mx-auto p-5" src="{{ static('images/DI4D.png') }}" alt="DI4D Logo">
    <h1 class="text-white text-2xl md:text-3xl font-bold text-center">Reset Password</h1>
    {% if validlink %}
        <form method="post" class="w-full max-w-sm space-y-4 flex flex-col items-start">
            {{ csrf_input }}
            <label for="{{ form.new_password1.id_for_label }}" class="text-white text-sm font-medium w-full text-left">New Password</label>
            <input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" placeholder="New Password" class="w-full px-4 py-2 rounded-md border bg-white text-gray-900">
            <label for="{{ form.new_password2.id_for_label }}" class="text-white text-sm font-medium w-full text-left">Confirm New Password</label>
            <input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" placeholder="Confirm New Password" class="w-full px-4 py-2 rounded-md border bg-white text-gray-900">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <p class="w-full bg-red-500 text-white text-sm px-3 py-2 rounded mb-2">
                        {{ error }}
                    </p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <input class="btn_primary_orange mx-auto" type="submit" value="Send Reset Link">
        </form>
    {% else %}
        <p class="text-white text-center">The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
        <a href="{{ url('password_reset') }}" class="btn_primary_orange mx-auto">Request new password reset</a>
    {% endif %}
</div>
{% endblock %}