{% extends "structure/structure.jinja" %}
{# COMPONENTS PRIVATE PART #}

{% block content_structure %}
{# Docs : https://flyonui.com/docs/navigations/sidebar/ #}
<div class="flex min-h-screen">
  <aside id="collapsible-sidebar" class="overlay [--body-scroll:true] border-base-content/20 overlay-open:translate-x-0 drawer drawer-start hidden w-64 [--auto-close:lg] [--is-layout-affect:true] [--opened:lg] absolute z-10 flex shadow-lg lg:[--overlay-backdrop:false] lg:fixed lg:left-0 lg:top-0 lg:h-screen lg:overflow-y-auto lg:shadow-none bg-[--blue_di4d]" role="dialog" tabindex="-1">
    <div class="drawer-body px-2 pt-4 h-full flex flex-col">
      {# Logo #}
      <div>
        <a href="/" class="flex flex-row items-center mb-6 px-2 gap-4">
            <img src="{{ static('images/DI4D.png') }}" alt="DI4D Logo" class="w-full h-full object-cover rounded-full max-w-16"/>
            <p class="text-white text-xl">DI4D</p>
        </a>
      </div>
      <ul class="menu p-0 flex-1">
        <li class="{% if active_page == 'dashboard' %}border-2 border-white bg-[--orange_di4d]{% endif %} rounded-lg mb-2">
          <a href="{{ url('dashboard') }}" class="text-white text-md">
            <i class="fa-solid fa-house text-xl"></i>
            Dashboard
          </a>
        </li>
        <li class="{% if active_page == 'files' %}border-2 border-white bg-[--orange_di4d]{% endif %} rounded-lg mb-2">
          <a href="#" class="text-white text-md">
            <i class="fa-solid fa-folder text-xl"></i>
            Files
          </a>
        </li>
        <li class="{% if active_page == 'Tech Talks' %}border-2 border-white bg-[--orange_di4d]{% endif %} rounded-lg mb-2">
          <a href="#" class="text-white text-md">
            <i class="fa-brands fa-kakao-talk text-xl"></i>
            Tech Talks
          </a>
        </li>
        <li class="{% if active_page == 'news' %}border-2 border-white bg-[--orange_di4d]{% endif %} rounded-lg mb-2">
          <a href="{{ url('news') }}" class="text-white text-md">
            <i class="fa-solid fa-newspaper text-xl"></i>
            News
          </a>
        </li>
        <li class="{% if active_page == 'forms' %}border-2 border-white bg-[--orange_di4d]{% endif %} rounded-lg mb-2">
          <a href="#" class="text-white text-md">
            <i class="fa-solid fa-rectangle-list text-xl"></i>
            Forms
          </a>
        </li>
        <li class="{% if active_page == 'settings' %}border-2 border-white bg-[--orange_di4d]{% endif %} rounded-lg mb-2">
          <a href="{{ url('settings') }}" class="text-white text-md">
            <i class="fa-solid fa-gear text-xl"></i>
            Settings
          </a>
        </li>
      </ul>
      <div class="mt-auto pb-4">
        <a href="{{ url('logout') }}" class="flex items-center gap-3 px-4 py-2 text-black rounded-lg bg-white font-bold hover:bg-black hover:text-white transition-colors">
            <i class="fa-solid fa-right-from-bracket text-xl"></i>
            Logout
        </a>
      </div>
    </div>
  </aside>
  
  <div class="flex-1 min-h-screen bg-base-100 lg:ml-64">
    <!-- Navigation Toggle -->
    <div class="px-2 pt-2 lg:hidden text-black">
      <button type="button" class="btn btn-text btn-square" aria-haspopup="dialog" aria-expanded="false" aria-controls="collapsible-sidebar" data-overlay="#collapsible-sidebar">
        <i class="fa-solid fa-bars text-xl"></i>
      </button>
    </div>
    <!-- End Navigation Toggle -->
    <div class="max-w-7xl mx-auto p-8">
        {% block content%}
        {% endblock %}
    </div>
  </div>
</div>
{% endblock %}