{# GENERAL COMPONENTS #}
{# NEWS ITEM BOX #}
{% macro old_news_item(article) %}
<div class="w-full h-full max-w-lg flex flex-col lg:flex-row gap-4 p-6 mb-2 bg-white rounded-lg news">
  <img src="{{ article.picture }}" alt="{{ article.title }}" 
       class="w-32 h-32 lg:w-40 lg:h-40 object-cover rounded mx-auto" />
  <div>
    <h3 class="text-xl font-bold mb-2">{{ article.title }}</h3>
    <p class="mb-4 text-[var(--light_grey)]">{{ article.description }}</p>
    
    <div class="flex justify-between items-end gap-4">
      <div class="text-[var(--light_grey)] text-sm">
        <p><i class="fa-regular fa-calendar"></i> {{ article.lastEditDate }}</p>
        {% if article.showAuthor %}
          <p><i class="fa-solid fa-file-pen"></i> {{ article.author.firstname }} {{ article.author.lastname }}</p>
        {% endif %}
      </div>
      <a class="btn_primary_orange px-6 py-2" 
         href="{{ article.mediaPath }}">Read it here</a>
    </div>
  </div>
</div>
{% endmacro %}

{# NEW VERSION OF NEWS ITEM BOX #}
{% macro news_item(article, color) %}
<div class="{% if color%} bg-[{{ color }}] {% else %}bg-white{% endif %} rounded-lg news w-full h-full flex flex-col p-6">
  <div class="flex flex-col md:flex-row gap-2 items-stretch h-full">
      <img src="{{ article.picture }}" alt="{{ article.title }}" 
          class="w-32 h-32 md:w-48 md:h-48 md:basis-2/5 aspect-square object-cover rounded mx-auto" />
      <div class="md:basis-3/5 flex flex-col h-full">
        <div class="flex-1">
          <h3 class="text-2xl mb-2">{{ article.title }}</h3>
          {# Line clamp is to limit the number of lines shown for the description (add also ...) #}
          <p class="mb-4 text-[var(--light_grey)] line-clamp-4">{{ article.description }}</p>
        </div>
        <div class="flex items-end justify-between">
          <div class="text-[var(--light_grey)] text-sm">
            <p><i class="fa-regular fa-calendar"></i> {{ article.lastEditDate }}</p>
              {% if article.showAuthor %}
                <p><i class="fa-solid fa-file-pen"></i> {{ article.author.firstname }} {{ article.author.lastname }}</p>
              {% endif %}
          </div>
            <a class="btn_primary_orange px-6 py-2" 
            href="{{ article.mediaPath }}">Read it here</a>
        </div>
      </div>
    </div>
</div>
{% endmacro %}

{# Empty modal #}
{% macro empty_modal(id, title) %}
<div x-show="open_{{ id }}" 
     x-cloak
     style="display:none" 
     class="fixed inset-0 z-50 flex items-center justify-center bg-black/75 p-4">
    <div @click.stop class="bg-[--light_grey] rounded-xl p-4 max-w-lg w-full max-h-[90vh] overflow-auto">
        <h2 class="text-2xl font-bold text-white mb-4">{{ title }}</h2>
        <div class="mt-4">
          {{ caller() }}
        </div>
    </div>
</div>
{% endmacro %}

{# Info modal #}
{% macro info_modal(id, title, message) %}
<div x-show="open_{{ id }}" 
     x-cloak
     style="display:none" 
     class="fixed inset-0 z-50 flex items-center justify-center bg-black/75 p-4"
     @click="open_{{ id }} = false">
    <div @click.stop class="bg-[--light_grey] rounded-xl p-4 max-w-lg w-full max-h-[90vh] overflow-auto">
        <h2 class="text-2xl font-bold text-white mb-4">{{ title }}</h2>
        <p class="text-white">{{ message }}</p>
        <button @click="open_{{ id }} = false" class="btn w-full text-[--button_text_modal] mt-4 bg-[--white_grey]">Continue</button>
      </div>
</div>
{% endmacro %}

{# Delete confirm modal#}
{% macro delete_confirm_modal(title, csrf_token) %}
<div x-show="currentDeleteId !== null, currentDeleteName !== null" 
     x-cloak
     style="display:none" 
     class="fixed inset-0 z-50 flex items-center justify-center bg-black/75 p-4"
     @click="currentDeleteId = null, currentDeleteName = null">
    <div @click.stop class="bg-[--light_grey] rounded-xl p-4 max-w-lg w-full max-h-[90vh] overflow-auto">
        <h2 class="text-2xl font-bold text-white mb-4">{{ title }}</h2>
        <p class="text-white">Are you sure you want to delete <span x-text="currentDeleteName"></span>? This action is irreversible.</p>
        <div class="w-full flex flex-row gap-2 mt-4">
          <button @click="currentDeleteId = null, currentDeleteName = null" class="btn text-[--button_text_modal] flex-1 bg-[--white_grey]">Cancel</button>
          <form method="post" class="flex-1 flex">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
            <input type="hidden" name="delete_id" x-bind:value="currentDeleteId"/>
            <button type="submit" class="btn flex-1 text-white bg-[--red]">Delete</button>
          </form>
        </div>
    </div>
</div>
{% endmacro %}

{# PAGE #}
<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Maurits Groen, David Maat, Govart Peijenborg">
    <meta name="description" content="DI4D Portal - Digital Platform of DI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static('css/dist/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ static('images/favicon.ico') }}">
    {{ livereload_script()|safe }}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/flyonui@2.4.1/flyonui.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flyonui@2.4.1/flyonui.min.js" defer></script>
    <link rel="stylesheet" href="{{ static('style.css') }}">
    <title>{% block title %}DI4D Portal{% endblock %}</title>
</head>
<body>
    {% block content_structure %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.15.0/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.7/htmx.min.js"></script>
</body>
</html>