<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="{{ static('css/dist/styles.css') }}">
</head>
<body>
    <h1 class="text-4xl font-bold text-blue-600">Hello world!</h1>
</body>
</html>